[core]
	engine = pg
	# plan_file = sqitch.plan
	top_dir = server/migrations
 [engine "pg"]
	target = db:pg://bywwtmlerdxvfs:ef578831ed26029d300c09f342a2994cbd1dd19229ad8992d5504aa24db3fdaa@ec2-52-213-167-210.eu-west-1.compute.amazonaws.com/d4ti4f8upn6bv6
	# registry = sqitch
	# client = psql
[deploy]
	verify = true