@font-face { 
  font-family: 'Oclock';
  src: url('src/assets/fonts/Oclock/Brandon_bld.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face { 
  font-family: 'Oclock';
  src: url('src/assets/fonts/Oclock/Brandon_bld_it.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face { 
  font-family: 'Oclock_blk';
  src: url('src/assets/fonts/Oclock/Brandon_blk.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}

@font-face { 
  font-family: 'Oclock';
  src: url('src/assets/fonts/Oclock/Brandon_blk_it.otf') format('opentype');
  font-weight: bolder;
  font-style: italic;
}

@font-face { 
  font-family: 'Oclock';
  src: url('src/assets/fonts/Oclock/Brandon_light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face { 
  font-family: 'Oclock';
  src: url('src/assets/fonts/Oclock/Brandon_light_it.otf') format('opentype');
  font-weight: lighter;
  font-style: italic;
}

@font-face { 
  font-family: 'Oclock';
  src: url('src/assets/fonts/Oclock/Brandon_reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'Oclock';
  src: url('src/assets/fonts/Oclock/Brandon_reg_it.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}



.header-website {
  padding :0;
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  /* font-family: Oclock;
  font-weight: bolder; */
  
}

.logo-menu {

  content: "";
    cursor: pointer;
    position: absolute;
    width: 3em;
    height: 3em;
    background: url('src/assets/logos/logo-short-cream.svg') no-repeat;
    background-size: 100%;
    left: calc(50% - 1.5em);
    top: calc(50% - 1.5em);
}


*, ::before ::after {
  box-sizing: border-box;
}

.header-website img {
  margin-bottom : 1rem;
}

.header-website .ui.menu {
  margin : 0;
  /* padding: 0 1em; */
  /* background-color: #1a4c79; */
  background-color: #0CAD93;
  box-sizing: content-box;
  /* min-height: 4em ; */
  height : 100%;

}

.header-website .ui.divider {
  margin : 0;
}

.header-website .ui.secondary.menu {
  /* padding : 0.5em 0.5em 0.5em; */
  /* display: flex;
  align-items: flex-start; */
  height :100%
}


/* .header-website .ui.secondary.menu a.item {
  height: inherit;
} */

.header-website .ui.secondary.menu a {
  margin :0;
  padding : 0;
  /* color : #021132; */
  color: #FFFDD8;
  /* color : #00c4a7; */
  font-size: 1em;
  border-radius: 0;
  text-transform: uppercase;
  /* vertical-align: middle; */
  /* align-self: center; */
  min-height: 100%;
  
}

.header-website .ui.secondary.menu a.item {
  /* color : #00c4a7; */
  /* color: #1a4c79; */
  padding : 0 0.7em;
  color :  #FFFDD8;
  /* font-weight: bolder; */
  /* border-radius: none;
  border-bottom: 3px solid #00c4a7; */
  background-color: none;
  border-radius: 0;
  transition : all 150ms ease-out;
}

.header-website .ui.secondary.menu a.item:hover {
  color :  #FFFDD8;
  /* color : #00c4a7; */
  /* color: #1a4c79; */
  /* color : #021132; */
  /* font-weight: bolder; */
  border-radius: none;
  /* border-bottom: 3px solid #00c4a7; */
  background-color: none;
  border-radius: 0;
  
  transition : all 30ms ease-in;
}

.header-website .ui.secondary.menu .active.item, .ui.secondary.menu .active.item {
  color :  #FFFDD8;
  /* color : #00c4a7; */
  /* color: #1a4c79; */
  /* color : #021132; */
  /* font-weight: bold; */
  border-radius: none;
  /* box-shadow: 0 -12px 0 0 #FFFDD8; */
  /* border-bottom: 3px solid  #FFFDD8; */
  background-color: #0CAD93;
  border-radius: 0;
 
}

.header-website .ui.secondary.menu .active.item, .ui.secondary.menu .active.item:after {
  box-shadow: inset 0 -3px 0 0 #FFFDD8;
}




.header-website .ui.secondary.menu a.header-menu-item, .header-website .ui.secondary.menu a.item {
  font-family: Oclock_blk;
  font-weight: 400;
  min-height : 3.5em;
}
