.student-dashboard {
  padding: 0 3%;
}

 img {
  min-width : 40%;
  margin-bottom : 1rem;
}

.ui.progress.general-progress-bar {
  width: 100%;

}

.ui.header.header-progress {
  margin : 1em 0;
}

.ui.header-dashboard {
  color : #fffdd8;
}

.ui.card.theme-card {
  text-align: center;
  box-shadow: none;
}
.ui.card.theme-card .theme-card-header {
  background-color: #0CAD93;

}

.ui.card.theme-card .theme-card-header .header {
  color : white;
}


.ui.progress:last-child {
  margin : 0;
}

.progress-container {
  display: block;
  padding: 0 10%;
}


