.footer-container {
  /* height: 4em; */
  font-size: 1.2em;
  margin-top: 3em;
  text-align: center;
  border-top: 1px solid #fffdd8;
  /* padding-top: 1.7em; */
  padding: 1em 0 ;
  /* vertical-align: middle; */
  font-weight: normal;
  color: #fffdd8;
}

