
.theme-presentation h1.theme-title {
  color : #1a4c79;
  background-color: white;
  width: 30%;
  margin : 1em auto;
  padding: 0.5em;
  font-style: italic;
  box-shadow: .4em -0.4em #1a4c79;
}

.description-theme {
  margin : 2em auto;
  width: 75%;
  background-color: #fff;
  padding: 1.5em 1.7em 1.5em 2.1em;
  font-size: 1.7em;
  text-align: left;
}

.theme-progress-container {
  display: block;
  padding: 1em 25%;
  text-align: center;
  position: -webkit-sticky;
  position : sticky;
  top : 3.3em;
  margin: 3em 10%;
  border-radius: 0.5em 0.5em 0.5em 0.5em ;
  box-shadow: #1a4c79 0.5em -0.7em ;
  background-color: #fffdd8;
}
