.accueil {
  padding: 0 0 1em 0;
  font-family: Oclock;
  height: 100% ;
  /* padding : 0 auto; */
  text-align: center;
}

.ui.header.header-accueil {
  color : #fffdd8;
  font-family: Oclock;
  font-size: 2.5em;
}

.accueil .img-container {
  min-height: 400px;
  width: 65%;
  margin : 0 auto;
  box-shadow: 2.1em -2em #1a4c79;
}

.accueil .text-accueil-container {
  margin : 2em auto;
  width: 75%;
  background-color: #FFF;
  padding: 1.5em 1.7em 1.5em 2.1em;
  font-size: 1.4em;
  text-align: left;
}



.accueil .img-container .img-accueil {
  background-image: url('src/assets/image/OG_Jc_Simon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  width: 100%;

}

.accueil .img-container .img-accueil:hover {
  outline: 0px;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}
