.student-dashboard {
  padding: 0 ;
  font-family: Oclock;
  height: 100% ;
  /* height : max-content; */
}

.ui.medium.image.logo-inpage {
  width : 40%
}

.ui.progress.general-progress-bar {
  width: 100%;
  margin-bottom: 1em ;

}

.ui.header.header-progress {
  margin : 1em 0;
}

.ui.header.header-dashboard {
  color : #fffdd8;
  font-family: Oclock;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.ui.card.theme-card {
  text-align: center;
  box-shadow: none;
  margin : 0.5em;
  transition: opacity 150ms ease-out;
}

.ui.card.theme-card:hover {
  opacity: 0.8;
  transition: opacity 60ms ease-in;
  cursor: pointer;

}



.ui.card.theme-card .theme-card-header {
  background-color: #0CAD93;
}



.ui.card.theme-card .theme-card-header .header {
  color : white;
}

.progressbar-message {
  color : #fffdd8;
  font-size: 2em;
  
}

.ui.cards>.card>.content>.header {
  color : #fffdd8;
  font-family: Oclock;
}


.ui.progress:last-child {
  margin : 0;
}

.progress-container {
  display: block;
  padding: 0 25%;
  text-align: center;
}

/* .student-dashboard {
  padding: 0 3%;
} */

.ui.progress.general-progress-bar {
  width: 100%;

}

.ui.header.header-progress {
  margin : 1em 0;
}

.ui.card.theme-card {
  text-align: center;
}
.ui.card.theme-card .theme-card-header {
  background-color: #00c4a7;
  color : #fffdd8;
}

.ui.card.theme-card .theme-card-header .header {
  color : white;
}

.ui.progress:last-child {
  margin : 0;
}

.progress-container {
  display: block;
  padding: 0 10%;
}


